<div class="main">
    <div class="form">
        <h1>Welcome to Musimilar</h1>
        <div class="info">
            <input #name (keyup)="checkName(name.value)" type="text" placeholder="Input name">
        </div>
        <div class="info">
            <input #email (keyup)="checkEmail(email.value)" type="text" placeholder="Input e-mail">
        </div>
        <div class="info">
            <input #password (keyup)="checkPassword(password.value)" type="password" placeholder="Input password">
        </div>
        <button id="signInBtn" (click)="onSignUp()">Sign Up</button>
    </div>
</div>