<div class="main">
    <div class="form">
        <h1>Register</h1>
        <label id="error" class="error-label"></label>
        <h3>
            Name
        </h3>
        <div class="info">
            <input id="name" type="password" placeholder="Input name">
        </div>
        <h3>
            E-mail
        </h3>
        <div class="info">
            <input id="e-mail" type="text" placeholder="Input e-mail">
        </div>
        <h3>
            Password
        </h3>
        <div class="info">
            <input id="password" type="password" placeholder="Input password">
        </div>
        <button (click)="onRegister()">Register</button>
    </div>
</div>