<div class="main">
    <div class="form">
        <h1>Welcome to Musimilar</h1>
        <label class="error-label">{{errorMessage}}</label>
        <div class="info">
            <label>Input name:</label>
            <input #name (keyup)="checkName(name.value)" type="text" placeholder="Input name">
        </div>
        <div class="info">
            <label>Input e-mail:</label>
            <input #email (keyup)="checkEmail(email.value)" type="text" placeholder="Input e-mail">
            <span *ngIf="!isEmailGood"><img src="../../../assets/img/error (1).png"></span>
        </div>
        <div class="info">
            <label>Input password:</label>
            <input #password (keyup)="checkPassword(password.value)" type="password" placeholder="Input password">
        </div>
        <button id="signInBtn" (click)="onSignUp()">Sign Up</button>
    </div>
</div>