<div class="main">
    <div class="form">
        <h1>Musimilar</h1>
        <label id="error" class="error-label"></label>
        <h3>
            E-mail
        </h3>
        <div class="info">
            <input id="e-mail" type="text" placeholder="Input e-mail">
        </div>
        <h3>
            Password
        </h3>
        <div class="info">
            <input id="password" type="password" placeholder="Unesite lozinku">
        </div>
        <button (click)="onLogin()">Login</button>
    </div>
</div>